.addForm {
    background-color: #00BCD4;
    padding: 12px;
}

* {
    box-sizing: border-box;
}

.addForm .formInput {
    display: block;
    width: 60%;
    margin-left: auto;
    margin-right: auto;
    border-radius: 2rem;
    border:none;
    outline: white;
    padding: 10px;
    font-family: 'Montserrat', sans-serif;
}

.addForm .formButton {
    display: block;
    width: 10%;
    margin-left: auto;
    margin-right: auto;
    margin-top: 8px;
    border:none;
    border-radius: 2rem;
    font-size: 1.2rem;
    padding: .2rem;
    background: #673AB7;
    color: white;
    font-family: 'Montserrat', sans-serif;
}

.todoRow {
    width: 90%;
    margin-left: auto;
    margin-right: auto;
    margin-top: 10px;

}

.todoRow .todoItem {
    width: 60%;
    display:inline-block;
    font-family: 'Open Sans', sans-serif;
    font-size: 1.2rem;
    background-color: #fff;
    border:1px solid #eee;
    padding:1rem .5rem .5rem;
    outline: #00BCD4;
}

.btn {
  width: 10%;
  border: none;
  font-size: .9rem;
  color: white;
  font-family: 'Open Sans', sans-serif;
  padding: .2rem;
  border-radius: .9rem;
}

.todoRow .todoBtn{
    text-align: center;
    background-color: #E91E63;
    float: right;
    margin-top: .5rem;
}

.todoRow .todoOk {
    background-color: #00BCD4;
    margin-left:.4rem;
}

.todoRow .todoCancel {
    margin-left: .3rem;
    background-color: #eee;
}

.pointerEventNone {
    pointer-events: none;
}


